@model Site_Roll_On_Blb.Models.PublicationImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublicationImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.urlPublicationImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlPublicationImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication.titrePublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication.titrePublication)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPublicationImage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
